body{
    background:rgb(63, 62, 62);
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background: rgb(179, 2, 2)99, 3, 3;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
text-align: center;
max-width: 90%;
}
img{
    max-width: 90%;
}